html {
    position: relative;
    min-height: 100%;
}
body
{
    background: url("../img/background_index.jpg");
}

#main_view
{
    margin-bottom: 160px;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
}


/* CSS POUR LA BARRE DE NAVIGATION */
#nav_tmp
{
    opacity: 0;
}
.navbar-default
{
    background: rgba(42, 135, 92, 0.7);
}
.mynavbar .navbar-brand
{
    font-size: 1.6em;
    color: white;
}
.navbar-default li
{
    font-size: 1em;
    color: #fff;
   
}
.mynavbar
{
    margin-left: 0px;
}
.mynavbar .mynavbarnav li a
{
    color: #fff;
}

.mynavbar .mynavbarnav li a:hover
{
    background-color: #25734e;
    color: #fff;
}
.mynavbar .mynavbarnav .active a
{
    background-color: #25734e;
    color: #fff;
}
.mynavbar .mynavbarnav .active a:hover
{
    background-color: #25734e;
    color: #fff;
}
.mynavbar .mynavbarnavright li a 
{
    color: #fff;
    padding-right: 30px;
}
.mynavbar .mynavbarnavright li a:hover 
{
    background-color: #25734e;
    color: #fff;
}

.mynavbar .mynavbarnavright .active a
{
    background-color: #25734e;
    color: #fff;
}
.mynavbar .mynavbarnavright .active a:hover
{
    background-color: #25734e;
    color: #fff;
}

.mynavbar .mynavbarheader 
{
    min-width: 200px;
    padding-left: 30px;
    background-color: #1F6041;
}
.mynavbar .mynavbarheader .navbar-brand:hover
{
    color: white;
}
.mynavbar .mynavbarheader a
{
    background-color: #1F6041;
}


/* CSS POUR LES TABLEAUX */

.tableBlackHead thead
{
    background-color: #303030;
    
}
.tableBlackHead th
{
    color: white;
    font-size: 1em;
}

.tableBlackHead td
{
    font-size: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: rgba(42, 135, 92, 0.9);
    color: white;
    display: flex;
    padding-left: 40px;
    padding-bottom: 5px;
    align-items: center;
    font-size: 0.8em;
}
footer
{
    margin-top: 300px;
    font-weight: bold;
}
#div_footer h3
{
    font-weight: bold;
    font-size: 1.2em;
}